<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <form  enctype="multipart/form-data" method="post" action="/predict">
    <input type="file" name="file"/>
    <br>
    <br>
    <Button type="submit" value="predict"> predict </Button>
    </form>
    

    
    {% if result != "" %}
    <div>
    <h2>{{ result }}</h2>
 
 {% else %}
 <h1>hekkk22</h1>
 </div>

    {% endif %}
    

    </div>
</body>
</html>